h1{
    color: darkolivegreen;
    text-align: center;
    font-size: 3.5em;
}

p{
    text-align: center;
}

h2{
    color: darkolivegreen;
    text-align: center;
    font-size: 2.5em;
}

h3{
    color: darkolivegreen;
    text-align: center;
    font-size: 2.5em;
}

.classSchedule:first-child{
    font-style: italic;
    color: mediumpurple;
}

.classSchedule:last-child{
    font-style: italic;
    color: indianred;
}