h1{
    color: darkolivegreen;
    text-align: center;
    font-size: 3.5em;
}

p{
    text-align: center;
}

h2{
    color: darkolivegreen;
    text-align: center;
    font-size: 2.5em;
}

h3{
    color: darkolivegreen;
    text-align: center;
    font-size: 2.5em;
}

.classSchedule:first-child{
    font-style: italic;
    color: mediumpurple;
}

.classSchedule:last-child{
    font-style: italic;
    color: indianred;
}

li:nth-child{
    background-color: darkred;
}

a{
    font-size: 3em;
    text-align: center;
    color: black;
    background-color: darkgoldenrod;
}

li:nth-child(1) {
    background-color: mediumpurple;
}

li:nth-child(2) {
    background-color: dodgerblue;
}

li:nth-child(3) {
    background-color: forestgreen;
}